@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';


.mainModule {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin-bottom: 1%;

    // height:50vh;
    // background-color: $primary;
    // color:$secondaryBckgrd;

    h1{
        height: 2vh;
        font-size: 28px;
    }
}



.mainModule p{
    border-top: 2px solid black;
    padding: 1% 0;

}