.postForm {
    border: 1px solid lightgrey;
    padding: 2%;

    form {
        display:flex;
        flex-direction:column;
    }
     
    textarea {
        margin-bottom: 5%;
    }

}

article {
    border: 1px solid grey;
    margin-bottom: 2%;
    padding: 2%;
}

.postForm {
    display:flex;
    flex-direction:column;
    background-color: whitesmoke;
}

.reactionContainer {
    margin: 0 0.25em 0 0;
    background: transparent;
    color: whitesmoke;
    font-size: 1rem;

    
    .reactionButton {
    background-color: transparent;
    border:none;
    width: 6%;
    color:black;
    margin-right: 1%;
   
    }
}