@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';


.mainModule {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $primary;
    color:$secondaryBckgrd;

    h1{
        height: 5vh;
    }
}



.mainModule p{
    border-top: 2px solid black;
    width: 80vw;
    height: 85vh;
    padding-top: 3%;
}