@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';

.profile {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.buttons {
    display:flex;
    width: 30vw;
    justify-content: space-evenly;
}

 .rightProfile{
        width: 10vw;
        border-left: 1px solid black;
        ul {
            
            @include displayCol();
            
            
            a {
                @include aDecor();
                
            }
        }
    }