@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';

.home {
    display:flex;
    flex-direction: column;
   justify-content: center;
    width: 100vw;
    height: 100vh;

}

.top {
    height: 70vh;
}