@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';

.home {
    display:flex;
    flex-direction: column;
   justify-content: center;
    width: 100%;
    height: 50vh;

}

.top {
    height: 100vh;
}