@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';

.home {
    display:flex;
    flex-direction: column;
   justify-content: center;
    width: 100%;


}
.bottom {
    width: 50vw;
}

// .top {
//     height: vh;
// }