@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';

@mixin navDisplay {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}

@mixin images {
    height: 28px;
    width: 28px;
}

@mixin aDisplay {
    text-decoration: none;
    color:white;
}

.topNav {
    @include navDisplay();
    top:0;
    width: 100vw;
    height: 14vh;
    background-color: navy;

    .leftTop{
        width: 40%;
    }
    .rightTop {
        width: 25%;
        background-color: white;
        padding: 1%;
    }

    .midTop {
        width: 40%;
    } 
}

.midTop, .rightTop {
    @include navDisplay();
   
    a {
        @include aDisplay();
    }
}

img, .icons{
    @include images();
}

.form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 20%;
}
.search {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -153px;
    margin-top: 3%;
    box-shadow:none;
}

.search-button img {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.rightTop {
    border: 1px solid grey;
}
.rightTop .title {
    position:abolute;
    color: $primary;
    font-family: 'Bona Nova';
    bottom: -30px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 14px;
    opacity: 0;
    transition: all 0.3s;
}

.rightTop .title::before {
    content:"";
    position:absolute;
         top: 0; left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
}

.rightTop img:hover + .title {
                opacity: 1;
                transform: translateX(-30%);
}

